.contactUse {
  border-top-left-radius: 20%;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 984px) {
}

@media screen and (max-width: 596px) {
  .ims {
    top: 0;
    bottom: 0;
    height: 200px;
    position: relative;
  }
  .card {
    width: 100%;
  }
  .baner-title {
    font-size: 60px;
  }
  .baner-title2 {
    font-size: 50px;
  }
  .play-img {
    height: 60px;
    width: 60px;
  }
  .service-offer {
    font-size: 50px;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 961px) {
}
